<address class="vcard" itemscope itemtype="http://data-vocabulary.org/Person">
<span class="fn" itemprop="name">Paul A. Prince</span> <br>
    <a class="org url" itemprop="affiliation"
        rel="me"
        href="http://littlebluetech.com/"
        title="Little Blue Technology website"><span
            class="organization-name">Little Blue Technology</span></a> <br>
    <span class="adr" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
        <span class="street-address">169 Beaver St.</span> <br>
        <span class="locality" itemprop="locality">Daniels</span>,
        <span class="region" itemprop="region">West Virginia</span>
        <span class="postal-code">25832</span> <br>
        <span class="country">United States</span> <br>
    </span>
    <span class="tel">Telephone: <a href="tel:+13042784401"><span class="value">+1-304-278-4401</span></a></span> <br>
    <span class="email">Email: <a href="mailto:paul@littlebluetech.com">paul@littlebluetech.com</a></span>
</address>
