// Color Theme
// -----------

$little-blue:               hsl(220, 100%, 60%);
$twitchy-red:               hsl(351, 100%, 31%);

$base-color:                $twitchy-red;
$link-color:                adjust-hue($base-color, 45);

$notebox-color-note:        $little-blue;
$notebox-color-tip:         tint(green, 15%);
$notebox-color-caution:     shade(orange, 7%);
$notebox-color-danger:      shade(red, 20%);
