// Color Theme
// -----------

$little-blue:               hsl(220, 100%, 60%);
$twitchy-red:               hsl(351, 100%, 31%);

$base-color:                $little-blue;
$link-color:                tint($base-color, 30%);
