// Sassy-Buttons
// -------------
$sb-auto-states:        true;
$sb-padding:            $base-line-height/2 - 1px;
$sb-font-size:          $base-font-size;
$sb-line-height:        $base-line-height;
$sb-border-radius:      $default-border-radius/2;
$sb-border-width:       2px;
$sb-text-color:         #eee;
$sb-text-style:         "inset";
$sb-gradient-style:     "shiny";
$sb-base-color:         $base-color;
$sb-second-color:       false;
