@import "variables/**/*";

@import "compass";
@import "susy";

.iconboxes {
    @include container(100%);
}

.box {
    @include span(25% no-gutters);
    text-align: center;
}

.icon {
    font-size: 32px;
    padding: 8px 0 30px 0;
}

.icomoon .icon {
    font-family: 'icomoon';
}

.et-line .icon {
    font-family: 'et-line';
}
