body {
    font-family: $default-font-face;
    color: #eee;
}
%small, small {
    @include adjust-font-size-to(84%);
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
s {
    text-decoration: line-through;
}

p {
    @include rhythm-margins(0.5);
}

#{headings()} {
    @include rhythm-margins(0.5);
    font-family: $default-heading-font-face;
    font-weight: bold;
}
h1 {
    @include adjust-font-size-to(218%);
}
h2 {
    @include adjust-font-size-to(168%);
}
h3 {
    @include adjust-font-size-to(152%);
}
h4 {
    @include adjust-font-size-to(138%);
}
h5 {
    @include adjust-font-size-to(122%);
}
h6 {
    @include adjust-font-size-to(114%);
}

ul {
    margin-left: $base-line-height;
    list-style-type:	    circle;
    list-style-position:    outside;
}

ol {
    margin-left: $base-line-height;
    list-style-type:	    decimal;
    list-style-position:    outside;
}

pre {
    overflow: auto;
}
