html {
    min-height: 100%;
    @include background-with-css2-fallback(
        url($base-noise-010),
        linear-gradient(to top,
            shade($base-color, 30%)
            tint($base-color, 30%)
        ) no-repeat fixed,
        darken($base-color, 20%)
    );
}

#{$selector-page-navbar},
#{$selector-page-sidebar},
#{$selector-main-content} {
    @include alpha-me(background-color, rgba(black, 0.70), $base-color);
}
