#{ $selector-page-banner } h1
{
    color: $base-color;
    @include adjust-font-size-to(64px, 3);
    @include outline-text(#eee);
    @include rhythm-margins;

    @include icon(rocket) {
        color: #eee;
        margin-right: 0.3em;
    }
}
